<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CustomerMapper">
	
	<resultMap id="Customer" type="Customer">
		<id property="Email" column="email" />
		<result property="fname" column="fname" />
		<result property="minit" column="minit"
		<result property="LastName" column="lname" />
		<result property="HouseNo" column="houseno" />
		<result property="Street" column="street" />
		<result property="City" column="city" />
		<result property="State" column="state" />
		<result property="Zip" column="zip" />
		<result property="Phone" column="phone" />
		<result property="Password" column="password" />
	</resultMap>

	<select id="selectCustomer" resultMap="Customer">
		SELECT firstname, lastname, email, houseno, street, city, state, zip, phone, password FROM customer WHERE email = #{email}
	</select>
	
	<insert id="insertCustomer" parameterType="Customer">
		INSERT INTO customer (firstname, lastname, email, houseno, street, city, state, zip, phone, password) VALUES (#{FirstName},#{LastName},#{Email},#{HouseNo},#{Street},#{City},#{State},#{Zip},#{Phone},#{Password})
	</insert>	
	

</mapper>